<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>图片展示demo</title>
  <link rel="stylesheet" href="./static/lib/bootstrap.min.css">
  <style type="text/css">
    .btn {
      margin: 10px 20px;
    }
    .title {
      margin: 30px 20PX;
      font-size: 24px;
    }
    .img-box{
      margin-top:10px;
    }
    .img-box img {
      width: 150px;
      height: 150px;
    }
    ul {
      text-align: center;
      list-style: none;
    }
    .filename {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  </style>
</head>
<body>
  <div id="app">
    <button type="primary" @click="getImage" class="btn btn-info btn-lg">结果展示</button>
    <div v-for="(file, index) in imageData">
      <span class="title">{{index}} 共{{file.length}}张</span>
      <div class="row">
        <ul class="col-lg-2 col-md-3 col-sm-4 col-xs-6" v-for="(img,i) in file" v-if="i<12">
          <li class="img-box">
            <img :src="img.path">
            <div class="filename">{{img.filename}}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="../static/lib/axios.min.js"></script>
<script type="text/javascript">
  var vm = new Vue({
    el: '#app',
    data: {
      imageData: {}
    },
    methods: {
      getImage() {
        axios.get('/download',{}).then(res=>{
           if(res.status===200){
              this.imageData=res.data
           }
         }).catch(function (error) {})
      }
    }
  })
</script>
</html>